/* Styles for the Advanced Markup assignment. */

/* link styles */
a:link {
    color: orange;
}

a:visited {
    color: #cccc00;
}

a:link {
    text-decoration: none;
}

/*styling for header*/
h1 {
    font-family: impact, palantino;
    font-size: 55px;
}


/*Background styling*/

html{
    background-image: url(background1.jpg);
    background-repeat: no-repeat;
    background-size: auto;
}

body{
    margin: 3rem auto;
    width: 75%;
    padding: 2rem;
    border: 2px solid black;
    border-radius: 50px;
    background-color: rgb(43, 88, 160,.9);
}

/*About Page Styles*/

dt {
    font-weight:900;
}

.bio-photo {
    width: 25%;
    float: left;
    background: #cccccc;
    margin: 10px;
    padding: 5px;
}

.bio-photo img {
    width: 100%;
    height: auto;
    background: #cccccc;
}

/*Sidebar Styles*/

#sidebar {
    float:right;
    width: 25%;
    background: gray;
    margin: 20px;
    padding: 10px;
    border: 4px solid black;
    border-radius: 50px;
}

/*Navigation Style*/

nav ul li{
    display: inline;
    border: solid 2px black;
    padding: 5px;
}

.active {
    font-weight: 1000;
    background: gray;
    padding: 5px;

}

/*Poem Styles*/

ul.poem {
    list-style-type: none;
    padding-left: 0;
    line-height: 1.5;
    font-size: 1.2rem;
}

/*Table Styles*/

table{
    width: 100%;
    text-align: left;
}

/*Test Comment*/